<!DOCTYPE html>
<html>
  <head>
    <title>CareerWeek</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if flash[:error] %>
      <% flash[:error].each do |e| %>
        <h3><%= e %></h3>
      <% end %> 
    <% end %>
    <% if current_user %>
      <a href="/logout"><button>Logout</button></a>
    <% end %> 
    <%= yield %>
  </body>
</html>